#Buidler files
cache
artifacts
node_modules
bin

coverage
coverage.json
dist
typechain
typings
build
generated
50.json
.env
.coverage_contracts
subgraph.yaml
test-results.xml

solc-input-*.json

.DS_Store

# Metadata files
output/

# Output of the get-waitlist-applicants task
applicants.csv

deployments/local/
report.*

scripts/custom-script.ts
.git/
